#clickBtn {
    background-color: rgb(230, 80, 25);
    color: white;
    padding: 1em;
    box-shadow: 2px 2px 6px lightslategray;
    transition: all ease-in-out 250ms;  
}

#clickBtn:hover {
    box-shadow: 2px 2px 6px lightslategray;
    transform: translateY(5px);    /* Move element */
}

.modal {
    display: none;
    background-color: rgba(197, 195, 195, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-box {
    width: 70%;
    margin: 30% auto;
    box-shadow: 3px 3px 3px rgb(197, 197, 197);
    animation: modalbox .9s;
}

@keyframes modalbox {
    from { opacity: .1; }
    to { opacity: .9; }
}

.modal-header {
    background-color: rgb(243, 115, 69);
    color: white;
    padding: 1em;
}

.closeBtn {
    float: right;
    transition: all ease-in-out 250ms;
}

.closeBtn:hover {
    cursor: pointer;
    color: black;
    transform: translateY(1px) translateX(1px);
}

.modal-content {
    background-color: white;
    padding: 1em;
}

/* 
    ':' = Pseudo class (Old spec)
    '::' = Pseudo element (CSS 3 spec)

    Must specify content attribute for anything to show up.
    Can't use ::before/::after doesn't work on images, images is to whole content and can't be modified

    ::before/::after is applied before/after the element's content, NOT before/after the tag it's applied to.
*/
.spinner::before {
    content: "";    
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%; 
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    /* spinner #1 */
    /* border-top-color: coral;
    border: 3px solid lightgray;
    animation: spinner 0.7s linear infinite; */
    /* spinner #2 */
    /* border: 2px solid transparent;
    border-top-color: coral;
    border-bottom-color: coral;
    animation: spinner 0.7s ease infinite; */
    /* spinner #3 */
    border-top: 2px solid coral;
    border-right: 2px solid transparent;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}
