#clickBtn {
    background-color: rgb(230, 80, 25);
    color: white;
    padding: 1em;
    
}

.modal {
    display: none;
    background-color: rgba(197, 195, 195, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-box {
    width: 70%;
    margin: 30% auto;
    box-shadow: 3px 3px 3px rgb(197, 197, 197);
    animation: modalbox .5s;
}

@keyframes modalbox {
    from { opacity: .1; }
    to { opacity: .9; }
}

.modal-header {
    background-color: rgb(243, 115, 69);
    color: white;
    padding: 1em;
}

.closeBtn {
    float: right;
}

.closeBtn:hover {
    cursor: pointer;
    color: lightgray;
}

.modal-content {
    background-color: white;
    padding: 1em;
}
